<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Posts</title>
</head>
<body>
    <form action="/posts" method="post">
        <input placeholder="Enter Username" name="username"/> <br><br>
        <textarea placeholder="Write your post" name="content" id="" cols="30" rows="10"></textarea> <br><br>
        <button type="submit">Submit Post</button>
    </form>
</body>
</html>